# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized

##### Some of the popular languages that Data Scientists use are: 
1. Python
2. R 
3. SQL

##### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| RStudio |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
minutes = 125
hours = minutes / 60
print(f"{hours:.2f} hours")

2.08 hours

**Objectives:**
- Jupyter Notebook
- API
- Github

## Author
Jie Min